/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/

.widget-area{
	margin-bottom:40px;
	padding:22px 25px 25px 22px;
	background-color:#f7f7f7;
	clear:both;

	> .widget{
		margin-bottom:40px;

		&:last-child,
		&:only-child{
			margin-bottom:0;
		}

	}

	> .widget.widget_media_image{
		padding:0;
		border:none;
	}

	> .widget > *:last-child{
		margin-bottom:0 !important;
	}

	> .widget .widget-title{
		position:relative;
		margin-top:0;
		margin-bottom:17px;
		padding-bottom:15px;
		font-weight:600;
		font-size:17px;
		line-height:27px;
		letter-spacing:-0.2px;

		&:before{
			position:absolute;
			bottom:0;
			left:0;
			z-index:0;
			content:" ";
			width:36px;
			height:2px;
		}

		a{
			color:inherit;
		}

		img{
			margin-right:7px;
		}

	}

	> .widget.widget_search,
	> .widget.widget_product_search{
		padding:0;
	}

	> .widget.widget_search .widget-title,
	> .widget.widget_product_search .widget-title{
		display:none;
	}

	> .widget.widget_search .search-form,
	> .widget.widget_product_search .woocommerce-product-search{
		position:relative;
	}

	> .widget.widget_search .search-form label,
	> .widget.widget_product_search .woocommerce-product-search label{
		width:100%;
		margin:0;
	}

	> .widget.widget_search .search-form input[type=search],
	> .widget.widget_product_search .woocommerce-product-search input[type=search]{
		width:100%;
		height:50px;
		padding:0px 40px 0px 15px;
		background-color:#fff;
		border:1px #e0e0e0 solid;
		border-radius:0;
		transition:all 0.3s ease-in-out;
		-webkit-transition:all 0.3s ease-in-out;
	}

	> .widget.widget_search .search-form input[type=search]:focus,
	> .widget.widget_product_search .woocommerce-product-search input[type=search]:focus{
		border-left-width:5px;
	}

	> .widget.widget_search .search-form button[type=submit],
	> .widget.widget_product_search .woocommerce-product-search button[type=submit]{
		position:absolute;
		top:0;
		right:0;
		width:40px;
		height:50px;
		background-color:initial;
		border:none;
		border-radius:0;
		font-size:0;
	}

	> .widget.widget_search .search-form button[type=submit] i,
	> .widget.widget_product_search .woocommerce-product-search button[type=submit] i{
		font-size:16px;
		line-height:45px;
	}

	> .widget .textwidget{
		margin:0px 0px 20px 0px;
	}

	> .widget .textwidget > *:last-child{
		margin-bottom:0 !important;
	}

	> .widget .textwidget p{
		margin:0px 0px 18px 0px;
		font-size:14px;
		line-height:24px;
	}

	> .widget .textwidget img{
		margin:12px 0px 15px 0px;
	}

	> .widget.widget_rss ul{
		margin:0;
	}

	> .widget.widget_rss ul li{
		margin-bottom:20px;
		font-size:14px;
		line-height:24px;
	}

	> .widget.widget_rss ul li:last-child,
	> .widget.widget_rss ul li:only-child{
		margin-bottom:0;
	}

	> .widget.widget_rss ul li a{
		color:#31281f;
	}

	> .widget.widget_rss ul li .rss-date{
		display:block;
		margin-top:7px;
		font-size:14px;
		color:#9b9a9a;
		line-height:22px;
	}

	> .widget.widget_rss ul li .rss-date:before{
		margin-right:10px;
		content:"\f017";
		font-family:'FontAwesome';
	}

	> .widget.widget_rss ul li .rssSummary{
		display:block;
		margin-top:7px;
	}

	> .widget.widget_recent_entries ul,
	> .widget.widget_recent_comments ul{
		margin:0;
	}

	> .widget.widget_recent_entries ul li,
	> .widget.widget_recent_comments ul li{
		margin-bottom:15px;
		padding-bottom:15px;
		border-bottom:1px #e2e2e2 solid;
		font-size:14px;
		line-height:24px;
		transition:all 0.3s ease-in-out;
		-webkit-transition:all 0.3s ease-in-out;
	}

	> .widget.widget_recent_entries ul li:last-child,
	> .widget.widget_recent_entries ul li:only-child,
	> .widget.widget_recent_comments ul li:last-child,
	> .widget.widget_recent_comments ul li:only-child{
		margin-bottom:0;
		padding-bottom:0;
		border-bottom:none;
	}

	> .widget.widget_recent_entries ul li a{
		color:inherit;
	}

	> .widget.widget_recent_entries ul li .post-date{
		display:block;
		margin-top:6px;
		font-size:12px;
		color:#282828;
		line-height:20px;
	}

	> .widget.widget_recent_comments ul li a{
		color:inherit;
	}

	> .widget.widget_archive ul,
	> .widget.widget_categories ul,
	> .widget.widget_meta ul,
	> .widget.widget_pages ul,
	> .widget.widget_nav_menu ul,
	> .widget.widget_layered_nav ul,
	> .widget.widget_product_categories ul{
	}

	> .widget.widget_archive ul li,
	> .widget.widget_categories ul li,
	> .widget.widget_meta ul li,
	> .widget.widget_pages ul li,
	> .widget.widget_nav_menu ul li,
	> .widget.widget_layered_nav ul li,
	> .widget.widget_product_categories ul li{
		position:relative;
		margin-bottom:14px;
		font-size:13px;
		line-height:24px;
	}

	> .widget.widget_archive ul li:last-child,
	> .widget.widget_categories ul li:last-child,
	> .widget.widget_meta ul li:last-child,
	> .widget.widget_pages ul li:last-child,
	> .widget.widget_nav_menu ul li:last-child,
	> .widget.widget_layered_nav ul li:last-child,
	> .widget.widget_product_categories ul li:last-child,
	> .widget.widget_archive ul li:only-child,
	> .widget.widget_categories ul li:only-child,
	> .widget.widget_meta ul li:only-child,
	> .widget.widget_pages ul li:only-child,
	> .widget.widget_nav_menu ul li:only-child,
	> .widget.widget_layered_nav ul li:only-child,
	> .widget.widget_product_categories ul li:only-child{
		margin-bottom:0;
	}

	> .widget.widget_archive ul li a,
	> .widget.widget_categories ul li a,
	> .widget.widget_meta ul li a,
	> .widget.widget_pages ul li a,
	> .widget.widget_nav_menu ul li a,
	> .widget.widget_layered_nav ul li a,
	> .widget.widget_product_categories ul li a{
		color:inherit;
		transition:all 0.3s ease-in-out;
		-webkit-transition:all 0.3s ease-in-out;
	}

	> .widget.widget_archive ul li a:hover,
	> .widget.widget_categories ul li a:hover,
	> .widget.widget_meta ul li a:hover,
	> .widget.widget_pages ul li a:hover,
	> .widget.widget_nav_menu ul li a:hover,
	> .widget.widget_layered_nav ul li a:hover,
	> .widget.widget_product_categories ul li a:hover{
	}

	> .widget.widget_archive ul li ul,
	> .widget.widget_categories ul li ul,
	> .widget.widget_meta ul li ul,
	> .widget.widget_pages ul li ul,
	> .widget.widget_nav_menu ul li ul,
	> .widget.widget_layered_nav ul li ul,
	> .widget.widget_product_categories ul li ul{
		margin-top:12px;
		margin-left:15px;
	}

	> .widget.widget_rating_filter ul{
	}

	> .widget.widget_rating_filter ul li{
		margin-bottom:15px;
	}

	> .widget.widget_rating_filter ul li:last-child,
	> .widget.widget_rating_filter ul li:only-child{
		margin-bottom:0;
	}

	> .widget.widget_recent_reviews ul,
	> .widget.widget_top_rated_products ul{
	}

	> .widget.widget_recent_reviews ul li,
	> .widget.widget_top_rated_products ul li{
		margin-bottom:15px;
	}

	> .widget.widget_recent_reviews ul li:last-child,
	> .widget.widget_recent_reviews ul li:only-child,
	> .widget.widget_top_rated_products ul li:last-child,
	> .widget.widget_top_rated_products ul li:only-child{
		margin-bottom:0;
	}

	> .widget.widget_recent_reviews ul li img,
	> .widget.widget_top_rated_products ul li img{
		width:40px;
		margin-top:8px;
	}

	> .widget.widget_recent_reviews ul li .star-rating,
	> .widget.widget_top_rated_products ul li .star-rating{
		float:left;
		margin-top:7px;
	}

	> .widget.widget_recent_reviews ul li .reviewer,
	> .widget.widget_top_rated_products ul li .amount{
		width:100%;
		float:left;
		margin-top:5px;
	}

	> .widget.widget_price_filter .ui-slider{
		margin-bottom:22px;
		background-color:#252525;
	}

	> .widget.widget_price_filter .ui-slider .ui-slider-range,
	> .widget.widget_price_filter .ui-slider .ui-slider-handle{
	}

	> .widget.widget_price_filter button[type=submit]{
		padding:5px 20px 4px 20px;
		border-radius:30px;
		text-transform:uppercase;
		font-size:12px;
	}

	> .widget.widget_layered_nav_filters ul li{
		width:100%;
		margin-bottom:7px;
		padding:0;
	}

	> .widget.widget_layered_nav_filters ul li:last-child,
	> .widget.widget_layered_nav_filters ul li:only-child{
		margin-bottom:0;
	}

	> .widget.widget_products ul li{
		padding-top:17px;
		padding-bottom:17px;
	    border-bottom:1px #e2e2e2 solid;
	}

	> .widget.widget_products ul li:first-child{
		padding-top:0;
	}

	> .widget.widget_products ul li:last-child{
		padding-bottom:0;
	    border-bottom:none;
	}

	> .widget.widget_products ul li:only-child{
		padding-top:0;
		padding-bottom:0;
	    border-bottom:none;
	}

	> .widget.widget_products ul li > a{
		margin-bottom:1px;
		font-weight:500;
		color:inherit;
	}

	> .widget.widget_products ul li img{
	    width:60px;
	}

	> .widget.widget_products ul li .star-rating{
		display:none;
	}

	> .widget.widget_products ul li .woocommerce-Price-amount{
		font-size:13px;
	}

	> .widget.widget_products ul li del{
		opacity:0.7;
	}

	> .widget select{
		width:100%;
		height:50px;
		padding:0px 10px 0px 10px;
		background-color:#fff;
		border:1px #e0e0e0 solid;
		border-radius:0;
		transition:all 0.3s ease-in-out;
		-webkit-transition:all 0.3s ease-in-out;
	}

	> .widget select:focus{
	}

	> .widget .tagcloud{
		margin:0px 0px 14px 0px;
		font-size:0;
	}

	> .widget .tagcloud > [class*='tag-link-']{
		display:inline-block;
		vertical-align:top;
		margin-right:5px;
		margin-bottom:6px;
		padding:3px 12px 4px 12px;
		background-color:#fff;
		border:1px #e2e0e0 solid;
		border-radius:35px;
		font-weight:400;
		font-size:14px !important;
		color:inherit;
		line-height:22px;
		transition:all 0.3s ease-in-out;
		-webkit-transition:all 0.3s ease-in-out;
	}

	> .widget .tagcloud > [class*='tag-link-']:hover{
		color:#fff;
	}

	> .widget.widget_calendar .calendar_wrap{
		background-color:#fff;
	}

	> .widget.widget_calendar #wp-calendar{
		width:100%;
		table-layout:fixed;
	}

	> .widget.widget_calendar #wp-calendar caption{
		padding:9px 10px 10px 4px;
		border:1px #e2e2e2 solid;
		border-bottom:none;
		text-align:center;
		text-transform:uppercase;
		font-weight:700;
		font-size:14px;
		color:#373737;
		line-height:24px;
		letter-spacing:1px;
	}

	> .widget.widget_calendar #wp-calendar > tbody > tr > td,
	> .widget.widget_calendar #wp-calendar > tbody > tr > th,
	> .widget.widget_calendar #wp-calendar > tfoot > tr > td,
	> .widget.widget_calendar #wp-calendar > tfoot > tr > th,
	> .widget.widget_calendar #wp-calendar > thead > tr > td,
	> .widget.widget_calendar #wp-calendar > thead > tr > th{
		padding:2px 5px;
		border:1px #e2e2e2 solid;
		text-align:center;
		font-size:70%;
	}

	> .widget.widget_calendar #wp-calendar > tbody > tr > td#today{
		background:rgba(0,0,0,0.05);
	}

	> .widget.widget_radiantthemes_recent_posts_widget ul{
	}

	> .widget.widget_radiantthemes_recent_posts_widget ul li{
		min-height:88px;
		margin-bottom:18px !important;
		padding-bottom:16px;
		padding-left:73px !important;
		border-bottom:1px #e2e2e2 solid;
		font-size:14px;
	    line-height:25px;
	}

	> .widget.widget_radiantthemes_recent_posts_widget ul li:last-child,
	> .widget.widget_radiantthemes_recent_posts_widget ul li:only-child{
		margin-bottom:0 !important;
		padding-bottom:0;
		border-bottom:none;
	}

	> .widget.widget_radiantthemes_recent_posts_widget ul li img{
		width:57px !important;
		float:left;
		margin-top:2px;
	    margin-right:15px;
		border-radius:50%;
	}

	> .widget.widget_radiantthemes_recent_posts_widget ul li .title{
		margin-bottom:0 !important;
		font-size:13px !important;
		color:#4d4d4d !important;
	    line-height:18px !important;
	}

	> .widget.widget_radiantthemes_recent_posts_widget ul li .date{
		margin-top:6px;
		margin-bottom:0;
		font-size:12px !important;
		color:#282828 !important;
		line-height:20px !important;
	}

	> .widget.widget_radiantthemes_recent_posts_widget ul li a{
		color:inherit;
	}

}