/*--------------------------------------------------------------
# Custom Widgets
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# RadiantThemes Twitter Box
--------------------------------------------------------------*/

.rt-twitter-box{

	ul{

		li{
			padding-top:20px;
			padding-bottom:20px;
			border-bottom:1px #e2e2e2 solid;

			&:first-child{
				padding-top:0;
			}

			&:last-child{
				padding-bottom:0;
				border-bottom:none;
			}

			&:only-child{
				padding-top:0;
				padding-bottom:0;
				border-bottom:none;
			}

			> *:last-child{
				margin-bottom:0 !important;
			}

			.user{
				min-width:50px;
				margin-bottom:12px;
				text-align:left;
			}

			.user span:nth-last-child(1),
			.user span:nth-last-child(2){
				display:none;
			}

			.user img{
				max-width:50px;
				margin-right:10px;
				border-radius:50%;
			}

			.tweet{
				margin-bottom:12px;
				text-align:left;
			}

			.timePosted{
				margin-bottom:17px;
				text-align:left;
			}

			.interact{
				margin-bottom:20px;
				text-align:left;
				font-size:0;
			}

			.interact > a{
				display:inline-block;
				vertical-align:top;
				width:30px;
				height:30px;
				margin:0px 4px 5px 4px;
				background-color:#1bb2e9;
				border-radius:50%;
				text-align:center;
			}

			.interact > a i{
				font-size:13px;
				color:#fff;
				line-height:31px;
			}

			.media{
				margin-bottom:20px;
				text-align:left;
			}

		}

	}

}

/*--------------------------------------------------------------
# RadiantThemes Contact Box
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# RadiantThemes Recent Post With Thumbnail
--------------------------------------------------------------*/

.rt-recent-post-with-thumbnail.element-one{
    margin-bottom:20px;

	> ul.rt-recent-post-with-thumbnail-holder{

		> li.rt-recent-post-with-thumbnail-post{
		    position:relative;
		    min-height:85px;
		    margin-bottom:30px;
		    padding-left:95px;

			&:last-child,
			&:only-child{
			    margin-bottom:0;
			}

			img{
			    position:absolute;;
			    top:5px;
			    left:0;
			    width:80px;
			    border-radius:50%;
			}

			.title{
			    margin-bottom:7px;
			    font-weight:400;
			    font-size:16px;
			    color:#333;
			    line-height:26px;
			}

			.date{
			    margin-bottom:3px;
			    font-size:14px;
			    color:rgba(0,0,0,0.6);
			    line-height:26px;
			}

		}

	}

}